.pincode {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.pincode-input {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    opacity: 0;
    pointer-events: none;
}
.pincode-grid {
    box-sizing: border-box;
    width: 42px;
    height: 56px;
    outline: none;
    border-bottom: 1px solid #b2b2b2;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin: 0 5px;
}
.pincode-focus {
    border-bottom: 2px solid #007bff;
}
